.App {
    text-align: center;
}

.score {
    border-bottom: 1px solid grey;
}

.buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
}
.buttons div {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}